.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
    line-height: 1.42857;
    background-color: #2f4767;
    transition: 1s;
    z-index: 10000;
}

.btn-circle:hover {
    background-color: #213045;
}

.btn-circle:active {
    background-color: #213045;
}
/*.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}*/

#map {
    z-index: 100;
}