<div style="height:100vh;padding:42px 0;background: url('/images/bg.jpg')no-repeat center center fixed;margin-left: 0px;margin-right: 0px; background-size: cover;">

    <div class="row" style="margin:0">
        <div class="col-s-12">
            
            <center>
                <img class="img-responsive" style="max-width: 200px; margin-left: -20px;" src="/images/meili-logo.png">
            </center>
        </div>
        <div class="col-s-12">
<!--            <br/><br/><br/><br/><br/><br/>
            <p>The MEILI System is a semi-automatic travel diary collection system that leverages modern mobile and web Geographical Information System (GIS) capabilities to allow the seamless collection (MEILI Mobility Collector mobile application) and the periodic and convenient travel-diary-annotation (MEILI Travel Diary web application) of the trips of its users. The collected travel diaries give valuable insight into the travel needs of individuals and the population, which are essential in transportation planning. The use of the MEILI System is voluntary. The mobile- and web applications give user-controls for suspending collection or deleting a collected trip and the collected data is only analyzed in an anonymous form for research purposes.</p>
            <br/>
                        <p class="text-center"> -->
                <br/>
                <center>
                    <a class="btn btn-default btn-success btn-lg" href="/login" style="border-radius: 50px;">Mulai anotasi sekarang!</a>
                    <br/><br/><br/>
                    
                    <a href='https://play.google.com/store/apps/details?id=id.ac.stis.meili' target="_blank">
                        <img style="height: 35px;" alt='Get it on Google Play' src='/images/googleplay.png'/>
                    </a> &nbsp; 
                    
                    <a href='https://itunes.apple.com/jp/app/meili-jabodetabek/id1434745400?l=en&mt=8' target="_blank">
                        <img style="height: 35px;" alt='Download on the Appstore' src='/images/appstore.png'/>
                    </a>
                </center>
        </div>
         
        </div>
    </div>


<script>
    $("#right-nav").html("");
</script>